@model IEnumerable<MvcMovie.Models.Movie>

<h1>Movies</h1>

@foreach (var movie in Model)
{
    <div class="movie-info">
        <p>Title: @movie.Title, Genre: @movie.Genre, Id: @movie.Id</p>

        <form action="/Movies/Delete/@movie.Id" method="post">
            <button type="submit">Delete</button>
        </form>
    </div>
}



