@model IEnumerable<MvcMovie.Models.Movie>
@{
    List<string> allGenres = ViewData["AllGenres"] as List<string>;
}

<h1>Movies</h1>

<h2>Genre Filter</h2>

@if (ViewData["SearchGenre"] != null)
{
    <p>Filtered by: @ViewData["SearchGenre"]</p>
}

<p>
    @if (allGenres.Count > 0)
    {
        foreach (var genre in allGenres)
        {
            <a href="/movies?genre=@genre">@genre</a>
        }
    }
    else
    {
    <p>No genres available.</p>
    }
</p>

<p>All of the movies data will be shown here!</p>

@foreach (var movie in Model)
{
    <p>Title: <a href="/movies/@movie.Id">@movie.Title</a>, Genre: @movie.Genre</p>
}

<a href="/movies/new">Add a movie</a>