@model IEnumerable<MvcMovie.Models.Movie>

<h1>Movies</h1>

<p>All of the movies data will be shown here!</p>

@foreach (var movie in Model)
{
    <p>Title: <a href="/movies/@movie.Id">@movie.Title</a>, Genre: @movie.Genre</p>
}

<a href="/movies/new">Add a movie</a>