@model IEnumerable<MvcMovie.Models.Movie>
@{
    List<string> allGenres = ViewData["AllGenres"] as List<string>;
}

<h1>Movies</h1>

<h2>Genre Filter</h2>

@if (ViewData["SearchGenre"] != null)
{
    <p>Filtered by: @ViewData["SearchGenre"]</p>
}

<p>
<a href="/movies?genre=Kids">Kids</a> |
<a href="/movies?genre=Holiday">Holiday</a> |
<a href="/movies?genre=Drama">Drama</a> |
<a href="/movies?genre=Comedy">Comedy</a> |
<a href="/movies">All Movies</a> 
</p>

<p>All of the movies data will be shown here!</p>

@foreach (var movie in Model)
{
    <p>Title: <a href="/movies/@movie.Id">@movie.Title</a>, Genre: @movie.Genre</p>
}

<a href="/movies/new">Add a movie</a>