@* This might need a lot of updating, might want to change it to a more controlled/strictly typed form *@

<form method="post" action="/Movies">
    <div>
        <label for="Title">Title:</label>
        <input type="text" id="Title" name="Title" />
    </div>
    <div>
        <label for="Genre">Genre:</label>
        <textarea id="Genre" name="Genre"></textarea>
    </div>
    <button type="submit">Create Movie</button>
</form>