@model MvcMovie.Models.Movie

<h1>@Model.Title</h1>

<p>All of the reviews data will be shown here!</p>

@foreach (var review in Model.Reviews)
{
	<p>@review.Rating: @review.Content <a href="/movies/@Model.Id/reviews/@review.Id/edit">Edit</a> </p>
}

<p>
	<a href='/movies/@Model.Id/reviews/new'>Add Review</a>
</p>            
